body{
    min-width: 780px;
    margin: 0;
    padding: 0;
    border: 10;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-image: url(../images/bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
}
h3{
	font-size:20px;
}
.initiative-header{
	text-align:left;
	color:#fff;
	width:65%
}
.popup-btn{
	background-color:#f2efef;
	color:#000;
	font-weight:bold;
}
.panel-gray {
    border-color: #606060;
}

.panel-gray > .panel-heading {
    border-color: #606060;
    color: #fff;
    background-color: #606060;
}

.panel-gray > a {
    color: #606060;
}

.panel-gray > a:hover {
    color: #3d8b3d;
}
.panel-skyblue {
    border-color: #000;
}

.panel-skyblue > .panel-heading {
    border-color: #A4D6F5;
    color: #000;
    background-color: #A4D6F5;
	text-align:center;
	font-weight: bold;
}

.panel-skyblue > a {
    color: #A4D6F5;
}

.panel-skyblue > a:hover {
    color: #3d8b3d;
}
.right-inner-addon {
    position: relative;
	float:left;
}
.right-inner-addon input {
    padding-left: 10px;
    height:30px;	
	width:300px;
	margin-left:10px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 10px;
    pointer-events: none;
}
#tabHeader{
	background-color: #B3DDF7;
}
.ag-menu{
	text-align:left;
}
.ag-row {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.ag-cell {
 font-family: Verdana, Arial, Helvetica, sans-serif;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: auto;
  text-overflow: auto;
  overflow: hidden;
  float: left;
  font-size:11px;
  
}
.ag-group-cell-entire-row {
 font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: auto;
  text-overflow: auto;
  overflow: auto;
  color: #000;
  
}
.ag-footer-cell-entire-row {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: wrap;
  font-size: 10px;
 border: 2px dotted;
 border-radius:20px;
 #vertical-align: middle;
}
.ag-paging-page-summary-panel{
	font-size: 12px;
	float:right;
}
.ag-paging-row-summary-panel{
	font-size:12px;
}
.ag-header-cell {
	background-color: #B3DDF7;
}
.ag-header-cell-menu-button{
	color: #000;
}
.ag-header-cell-text {
    text-overflow: auto;
    overflow: visible;
    white-space: normal;
	font-weight:bold;
	color:#000;
}
.ag-header-group-cell-label{
	#text-align:center;
	font-weight:bold;
}
.form-group{
 line-height: 10px;
}

  /* Tooltip */
.test + .tooltip > .tooltip-inner {
      background-color: #B3DDF7;
      color: #000;
      border: 1px solid #000;
      padding: 5px;
      font-size: 12px;
	  min-width: 100px;
	  max-width: 150px;
}
  /* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
      border-top: 1px solid #000;
}
  /* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
}
  /* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
}
/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
}
.popup{
	width: 100%;
}
.table{
	padding: 1px;
	line-height:1.2em;
}
.table th{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding:1px;
	color:#000;
	background-color:#B3DDF7;
}
.table tr{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:1px;
	line-height:1.2em;
	background-color: #d6cfcf;
	
}
.tableTopHeader{
	font-size:13px;
	background-color:#5B9BD5;
	color:#fff;
}